
.idea/misc.xml
.idea/modules.xml
.idea/Python.iml
.idea/workspace.xml
.ipynb_checkpoints/CNN Layer-checkpoint.ipynb
.ipynb_checkpoints/DTW-checkpoint.ipynb
.ipynb_checkpoints/UCI_ADL-checkpoint.ipynb
.ipynb_checkpoints/Unipen-checkpoint.ipynb
CLayer/__pycache__/CLayer.cpython-37.pyc
